<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static cart.css %}" />
    <title>Document</title>
  </head>
  <body>
    <nav class="top_nav">
      <div class="nav_container">
        <a href="#" role="link" class="logo">Invoice Generator</a>

        <div class="cart-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M21 4H2v2h2.3l3.28 9a3 3 0 0 0 2.82 2H19v-2h-8.6a1 1 0 0 1-.94-.66L9 13h9.28a2 2 0 0 0 1.92-1.45L22 5.27A1 1 0 0 0 21.27 4 .84.84 0 0 0 21 4zm-2.75 7h-10L6.43 6h13.24z"
            ></path>
            <circle cx="10.5" cy="19.5" r="1.5"></circle>
            <circle cx="16.5" cy="19.5" r="1.5"></circle>
          </svg>
          <div class="count">3</div>
        </div>
      </div>
    </nav>
    <div class="skip-nav">
      <div class="flex container pt-5">
        <div class="product">
          <div class="box">
            <div class="flex">
              <div class="image">
                <img
                  height="180"
                  width="180"
                  src="https://m.media-amazon.com/images/I/612dMOJRooL._AC_AA180_.jpg"
                  alt="(Renewed) OnePlus 9 5G (Arctic Sky, 12GB RAM, 256GB Storage)"
                />
              </div>
              <div class="details">
                <div class="info-parent">
                  <h1 class="title">
                    (Renewed) OnePlus 9 5G (Arctic Sky, 12GB RAM, 256GB Storage)
                  </h1>
                  <span class="left">Only 1 left in stock</span>
                  <div class="info">
                    <div>
                      <b>Wireless Provider: </b>
                      <span> Unlocked for All Carriers</span>
                    </div>
                    <div>
                      <b>Color: </b>
                      <span> Artic Sky</span>
                    </div>
                    <div>
                      <b>Memory Storage Capacity: </b>
                      <span> 256.0 GB</span>
                    </div>
                  </div>
                </div>
                <div class="quantity">
                  <b>Qty: </b>
                  <span>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10+">10+</option>
                    </select>
                  </span>
                </div>
              </div>
              <h1 class="price">&#8377;35,799.00</h1>
            </div>
            <hr />
            <div class="footer">
              <a
                href="#"
                role="button"
                class="a-button a-button-secondary ml-auto"
                >Delete</a
              >
            </div>
          </div>
          <div class="box">
            <div class="flex">
              <div class="image">
                <img
                  height="180"
                  width="180"
                  src="https://m.media-amazon.com/images/I/71ZDY57yTQL._AC_AA180_.jpg"
                  alt="Apple iPhone 14 Pro"
                />
              </div>
              <div class="details">
                <div class="info-parent">
                  <h1 class="title">Apple iPhone 14 Pro (1 TB) - Gold</h1>
                  <span class="stock">In stock</span>
                  <div class="info">
                    <div>
                      <b>Color: </b>
                      <span> Gold</span>
                    </div>
                    <div>
                      <b>Size: </b>
                      <span> 1 TB</span>
                    </div>
                  </div>
                </div>
                <div class="quantity">
                  <b>Qty: </b>
                  <span>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10+">10+</option>
                    </select>
                  </span>
                </div>
              </div>
              <h1 class="price">&#8377;1,72,999.00</h1>
            </div>
            <hr />
            <div class="footer">
              <a
                href="#"
                role="button"
                class="a-button a-button-secondary ml-auto"
                >Delete</a
              >
            </div>
          </div>
          <div class="box">
            <div class="flex">
              <div class="image">
                <img
                  height="180"
                  width="180"
                  src="https://m.media-amazon.com/images/I/51uwEtc8roL._AC_AA180_.jpg"
                  alt="Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches ( 39 cm ) Business Laptop (4GB RAM/256 GB SSD/Windows 11 Home/Black/1.9 Kg, EX215-31)"
                />
              </div>
              <div class="details">
                <div class="info-parent">
                  <h1 class="title">
                    Acer Extensa 15 Thin & Light Intel Processor Pentium Silver
                    N5030 15.6 inches ( 39 cm ) Business Laptop (4GB RAM/256 GB
                    SSD/Windows 11 Home/Black/1.9 Kg, EX215-31)
                  </h1>
                  <span class="stock">In stock</span>
                  <div class="info">
                    <div>
                      <b>Style name: </b>
                      <span> 4/256/Win 11</span>
                    </div>
                  </div>
                </div>
                <div class="quantity">
                  <b>Qty: </b>
                  <span>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10+">10+</option>
                    </select>
                  </span>
                </div>
              </div>
              <h1 class="price">&#8377;22,690.00</h1>
            </div>
            <hr />
            <div class="footer">
              <a
                href="#"
                role="button"
                class="a-button a-button-secondary ml-auto"
                >Delete</a
              >
            </div>
          </div>
        </div>

        <div class="right">
          <div class="checkout">
            <span class="total"
              >Subtotal(2 items): <b>&#8377;2,31,488.00</b></span
            >
            <button class="a-button a-button-primary w-full mt-5">
              Proceed to buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
